{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}简单云 - {{ title }} {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }} {{ title }}</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>用户名</th><th>开始关注的时间</th></tr></thead>
    {% for follow in follows %}
    {% if follow.user != user %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = follow.user.username) }}">
                <img class="img-rounded" src="{{ url_for('main.get_avatar', filename=follow.user.avatar_s) }}">
                {{ follow.user.username }}
            </a>
        </td>
        <td>{{ moment(follow.timestamp).format('YYYY-MM-DD h:mm') }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}
